<!DOCTYPE html>
<html>
<head>
  <title>ServerCtrl</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">ServerCtrl</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <% case controller.action_name
            when "index" %>
            <li class="active"><a href="/">Home</a></li>
            <li><a href="processes">Processes</a></li>
            <li><a href="web">Web Server</a></li>
            <li><a href="setup">Setup</a></li>
            <li><a href="logout">Logout</a></li>
          <% when "processes" %>
            <li><a href="/">Home</a></li>
            <li class="active"><a href="processes">Processes</a></li>
            <li><a href="web">Web Server</a></li>
            <li><a href="setup">Setup</a></li>
            <li><a href="logout">Logout</a></li>
          <% when "web" %>
            <li><a href="/">Home</a></li>
            <li><a href="processes">Processes</a></li>
            <li class="active"><a href="web">Web Server</a></li>
            <li><a href="setup">Setup</a></li>
            <li><a href="logout">Logout</a></li>
          <% when "setup" %>
            <li><a href="/">Home</a></li>
            <li><a href="processes">Processes</a></li>
            <li><a href="web">Web Server</a></li>
            <li class="active"><a href="setup">Setup</a></li>
            <li><a href="logout">Logout</a></li>
          <% when "login" %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <%= yield %>
  </div>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <% if controller.action_name == "index" %>
    <script type="text/javascript">
      $(document).ready(function(){
        var alreadyRun = 0;
        function respondCanvas(){ 
            $("canvas.respcanvas").each(function() {
              var data = eval($(this).attr('id'));
              $(this).attr('width', $(this).parent().width());
              $(this).attr('height', $(this).parent().height() / 100 * 80);
              var ctx = $(this).get(0).getContext("2d");
              if ($(this).hasClass("pie")) {
                if (alreadyRun >= 5) {
                  var chart = new Chart(ctx).Pie(data, {animation: false});
                }
                else {
                  var chart = new Chart(ctx).Pie(data);
                  alreadyRun++;
                }
              }
              else {
                if (alreadyRun >= 5) {
                  var chart = new Chart(ctx).Line(data, {scaleOverride: true, scaleStartValue: 0, scaleSteps: cores, scaleStepWidth: 1, animation: false});
                }
                else {
                  var chart = new Chart(ctx).Line(data, {scaleOverride: true, scaleStartValue: 0, scaleSteps: cores, scaleStepWidth: 1});
                  alreadyRun++;
                }
              }
            });
        }
        $(window).resize(respondCanvas);
        respondCanvas();
      }); 
    </script>
  <% end %>
</body>
</html>
